Listen 80
Listen 88
Listen 82

<VirtualHost *:80>
    ServerName www.mysite1.com
    DocumentRoot /var/www/mysite1
</VirtualHost>

<VirtualHost *:88>
    ServerName www.mysite2.com
    DocumentRoot /var/www/mysite2
</VirtualHost>

<VirtualHost *:82>
    ServerName www.mysite3.com
    DocumentRoot /var/www/mysite3
</VirtualHost>
